.nav-container {
  display: none;
  position: sticky;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.nav-left {
  display: flex;
  width: 10vw;
  justify-content: space-evenly;
  align-content: center;
}

.nav-right {
  display: flex;
  width: 15vw;
  justify-content: space-evenly;
  align-content: center;
}
